{% extends "base.html" %}

{% block body %}

<div class="page-header">
  <h1>Brave spirit tracker <small>Track the progess of your class in the spirit race!</small></h1>
</div>

     <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="#">  <img src="http://lorempixel.com/1200/480/abstract/Welcome/" />
            </a>
            <div class="carousel-caption">
              <p align="center">The class of {{ winner.graduation }} currently has the most points ({{ winner.points }})!</p>
            </div>
          </div>
          
          <div class="item">
            <a href="/class/freshmen">
              <img src="http://lorempixel.com/1200/480/food/Freshmen/" alt="Freshmen" />
            </a>
            <div class="carousel-caption">
              <p align="center">Freshmen</p>
            </div>
          </div>
          
          <div class="item">
            <a href="/class/sophomores">
              <img src="http://lorempixel.com/1200/480/animals/Sophomores/" alt="Sophomores" />
            </a>
            <div class="carousel-caption">
              <p align="center">Sophomores</p>
            </div>
          </div>
          
          <div class="item">
            <a href="/class/juniors">
              <img src="http://lorempixel.com/1200/480/sports/Juniors/" alt="Juniors" />
            </a>
            <div class="carousel-caption">
              <p align="center">Juniors</p>
            </div>
          </div>
          
          <div class="item">
            <a href="/class/seniors">
              <img src="http://lorempixel.com/1200/480/nature/Seniors/" alt="Seniors" />
            </a>
            <div class="carousel-caption">
              <p align="center">Seniors</p>
            </div>
          </div>
          
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <!-- end carousel -->
      

      
{% endblock body %}

{% block script %}
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>
{% endblock script %}
