{% extends "base.html" %}

{% block body %}

<div class="row"
  <div class="twelve columns">
  <h1>Welcome to Bishop Blanchet Spirit Points!</h1>
  </div>
</div>


  <div class="row">
    <div class="twelve columns">
      <h3>Orbit</h3>
      <div id="featured">
			<img src="http://placehold.it/1200x250&text=Freshmen" alt="slide image">
			<img src="http://placehold.it/1200x250&text=Sophomores" alt="slide image">
			<img src="http://placehold.it/1200x250&text=Juniors" alt="slide image">
			<img src="http://placehold.it/1200x250&text=Seniors" alt="slide image">
		</div>
	  </div>
	</div>
			


{% endblock body %}

{% block post-body %}
<script type="text/javascript">
   $(window).load(function() {
       $('#featured').orbit();
   });
</script>
{% endblock post-body %}